
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    background-position:center;
}
.iconimg{
    margin: 180px 40% 10px 45%;
    background-size: 100%;
}
.mainbox{
    width: 80vw;
    height: 15vh;
    padding: 2%;
    margin: 1em 10% 10% 10%;
    border-radius: 5px; 
    background-color:#dedede94;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.loginheader{
    flex-basis: 100%;
    padding: 10px;
    font-size: 2em;
    background-color: #c7c8e7;
}
.errormessagename,
.errormessagepass{
    margin: 10px;
    font-size: small;
    color:  red;
    background-color: rgba(255, 0, 0, 0.1);
    width: max-content;
}
.button {
    background-color: #383a92;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border-radius: 5px;
    border:#0a0a0a;
    width: 100%;
}
@media only screen and (min-width:928px) {
    
    .mainbox{
        height: 30vh;
        flex-wrap: wrap;
    }
    .iconimg{
        width: 100px;
        height: 85px;
        background-image: url("pc.PNG");
    }
}
@media only screen and (max-width:927px) {
    .mainbox{
        height: 30vh;
        flex-wrap: wrap;
}
    .iconimg{
        width: 100px;
        height: 130px; 
        background-image: url("tablet.PNG");
    }
    .loginheader{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:700px) {
    .mainbox{
        height: 55vh;
        flex-direction: column;
        font-size: large;
    }
    .iconimg{
        width: 50px;
        height: 85px;
        background-image: url("mobial.PNG");
        background-size: 50px 85px;
        margin-top: 140px;
    }
    .loginheader{
        flex-basis:0;
        width: 80%;
        display: flex;
        justify-content: center;
    }
}